# Bootstrap
app/bootstrap*

# Symfony directories
/vendor
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
web/css/*
web/img/*
web/images/*
web/js/*
web/assets
web/fonts/*
web/nano.save



# Configuration files
app/config/dynamic/sites.yml
app/config/parameters.yml
src/Core/UserBundle/Resources/views/Security/login.html.twig
src/Core/UserBundle/Resources/views/Security/Mobile/login.html.twig
#src/Setting/Bundle/ToolBundle/Controller/DomainController.php
web/.htaccess

# Composer
composer.phar


# IDE
.idea/*
.nbproject/*

# OS
.DS_Store
Thumbs.db