<!--tm-page-body-->
<div id="tm-page-footer">
    <div class="tm-sidebar-footer">
        <div class="tm-wrap">
            <div class="tm-sidebar-footer-inner">
                <div class="tm-column tm3">
                    <aside class="widget widget_text">
                        <div class="textwidget">
                            <p>
                                <img alt="img" src="../../assets/frontend/img/sample/home/logo.png" width="139" height="24">
                            </p>
                            <p>{% render controller("FrontendBundle:Widget:aboutus") %}</p>
                        </div>
                    </aside>
                </div>
                <div class="tm-column tm2">
                    <aside class="widget tm-list-style1">
                        {{ knp_menu_render('SettingAppearanceBundle:Builder:footerMenu', {'template':'SettingAppearanceBundle:Menu:simple-menu.html.twig','currentClass': 'active'}) }}
                    </aside>
                </div>

                <div class="tm-column tm3">
                    <aside class="widget widget_tag_cloud">
                        <h3 class="tm-title">Contact Us</h3>
                        <div>
                            <address class="margin-bottom-40">
                                House#18 , Road No# 1, Block G<br>
                                Mirpur-1, Dhaka<br>
                                Phone: +88 01558 148 148<br>
                                Fax: +88 01558 148 148<br>
                                Email: <a href="mailto:info@metronic.com">info@bdeducations.com</a><br>
                                Skype: <a href="skype:bdeducations">bdeducations</a>
                            </address>
                        </div>
                    </aside>
                </div>
                <div class="tm-column tm4">
                    <aside class="widget widget_text">
                        <h3 class="tm-title">Get the latest news and promotion!</h3>
                        <div class="textwidget">
                            <form action="{{ path('frontend_newsletter') }}" method="post" class="newsletter">
                                <input type="email" value="" name="email" required="required" class="tm-input required" placeholder="Email..." />
                                <button class="tm-button" type="submit" role="button">Subscribe</button>
                            </form>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<!--tm-page-page-footer-->
<footer>
    <div class="tm-wrap tm-table">
        <div class="copyright">
            <p>© Copyright - Business Booster Limited Bangladesh</p>
        </div>
        <div class="tm-social-icons">
            <a class="tm-icon-facebook" href="#">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="tm-icon-twitter" href="#">
                <i class="fa fa-twitter"></i>
            </a>
            <a class="tm-icon-dribbble" href="#">
                <i class="fa fa-dribbble"></i>
            </a>
        </div>
    </div>
</footer>

<div id="loginmodal" style="display:none;">
    <div class="header-line-bottom">
        <h3 class="tm-title">User Login</h3>
    </div>
    <form id="loginform" name="loginform" method="post">
        <p>
            <label for="user_login">Username<br>
                <input type="text" size="20" value="" class="input" id="user_login" name="log"></label>
        </p>
        <p>
            <label for="user_pass">Password<br>
                <input type="password" size="20" value="" class="input" id="user_pass" name="pwd"></label>
        </p>

        <p class="submit">
            <input type="submit" value="Log In" class="tm-btn hidemodal" id="wp-submit" name="wp-submit">
        </p>
    </form>
</div>
<!-- Go to top -->
<a href="#" id="tm-gotop">
    <i class="fa fa-chevron-up"></i>
</a>
