<div class="" id="mobile-footer">
    <ul class="social-networks">

        <li>
            <a href="#" data-title="">
                <i class="fa fa-phone"></i>
            </a>
        </li>
        <li>
            <a  href="#sms-modal" data-title="">
                <i class="fa fa-comment"></i>
            </a>
        </li>
        <li>
            <a  href="javascript:" class="scrollToTop" data-title="Top up">
                <i class="fa fa-hand-o-up"></i>
            </a>
        </li>
        <li>
            <a  href="#email-modal" data-title="">
                <i class="fa fa-envelope"></i>
            </a>
        </li>
        <li>
            <a class="last" href="{{ path('bindu_build_contact') }}" data-title="">
                <i class="fa fa-map-marker"></i>
            </a>
        </li>
    </ul>
</div>


<div class="remodal" data-remodal-id="sms-modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
    <form id="commentform" class="contactForm">
        <div>
            <h2 id="modal1Title">Sending SMS</h2>
            <p id="modal1Desc">
                <input type="text" name="name" id="ContactName" placeholder="Enter your name">
                <input type="text" class="mobile" name="mobile" id="mobile" placeholder="Enter your mobile no ">
                <textarea id="ContactMessage" name="comment" placeholder="Message"></textarea>
                <input type="hidden" name="globalOption" id="globalOption" value=""  >
            </p>
        </div>
        <br>
        <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
        <button data-remodal-action="confirm" class="remodal-confirm">Send</button>
    </form>
</div>
