<!-- Header -->
<div id="header">
    <div class="header-content">
        <a class="menu-btn" href="#menu"></a>
        <a href="javascript:history.back();" class="p-link-back"><i class="fa fa-arrow-left"></i></a>
    </div>
</div>
<!-- Content -->
